/* Login */

/* body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
} */
.card1 {
  display: flex;
  width: 15%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  padding: 1em;
  text-align: center;
  background-color: #faf9fe;
  border: solid 3px grey;
  border-radius: 5px;
  box-shadow: 3px 3px 5px grey;
  margin-top: 4em;
}
.card1 i {
  text-align: center;
  font-size: 4em;
  color: #483D8B;
  margin-bottom: 0.25em;
}
h1 {
  text-align: center;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
label {
  margin-top: 1em;
  margin-bottom: 1em;
  text-align: left;
}
.input1,
.input2 {
  padding: 12px 6px;
  border-radius: 5px;
}
.registeredLog{
    padding:1em;
}
.registeredLog p {
    margin-bottom: 0.5em;
}
.button button {
  margin-top: 0.5em;
  width: 100%;
  padding: 8px 4px;
  border-radius: 5px;
  background-color: #483D8B;
  font-size: 1.2rem;
  color: white;
  font-weight: bold;
  border: 0;
}
